.btn-primary {
  width: 100% !important;
}
.nav-right {
  margin-left: auto !important;
  /* text-align: right !important; */
}

.navbar-brand img {
  width: 50px !important;
  border-radius: 20px !important;
  margin-right: 1vh;
}
.invalidinput {
  color: crimson;
}
.product-list {
  text-align: center !important;
}

.product-list ul li {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  width: 150px;
}
.product-list ul {
  margin: 0;
}
#first-ul li {
  background-color: rgba(0, 0, 0, 0.025);
  font-weight: 700;
}
#Operartion {
  padding: 5px !important;
}
